{% extends 'base.html' %}

{% block body_block %}
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Application List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Application List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Application ID</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Loantype</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Application Status</th>
                    <th scope="col" >Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                  <tr>
                    <th scope="row">{{ forloop.counter}}</th>
                    <th>{% if data.is_active == True %}<span class="badge bg-success"><i class="bi bi-check-circle me-1"></i></span>{% else %}<span class="badge bg-danger"><i class="bi bi-exclamation-octagon me-1"></i> </span>{% endif %}</th>
                    <td><a href="#">{{ data.application_id }}</a></td>
                    <td><a href="#">{{ data.customer_id.customer_id }}</a>({{data.customer_id.firstname }} {{data.customer_id.lastname }}) </td>
                    <td>{{ data.loantype.loantype }}</td>
                    <td>{{ data.loan_amount}}</td>
                    <td>{{data.application_status}}</td>
                    <td>
                      <a href="{% url 'loanapplication_summary' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"> <button class="btn btn-info btn-sm" type="button"><i class="fa fa-eye"></i>
                      </button></a>
                      
                      <a href="{% url 'applicationstatus_tracking' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"> <button class="btn btn-secondary btn-sm" type="button"><i class="bi bi-star me-1"></i>
                      </button></a>
                    </td>
                  </tr>
                  {% endfor %}
               
               
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}

 