{% extends 'base.html' %}
{% block body_block %}
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dibursement Request</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Dibursement Request</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

             <div class="table-responsive">
              <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Loan ID</th>
                        <th scope="col">Loan Application ID</th>
                        <th scope="col">Loan Amount</th>
                        <th scope="col">Approved Amount</th>
                        <th scope="col">Tenure</th>
                        <th scope="col">Disbursement Type</th>
                        <th scope="col" >Action</th>
                      </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                        <tr>
                            <th scope="row">{{ forloop.counter}}</th>
                            <td><a href="#">{{ data.customer.firstname }} {{ data.customer.lastname}}</a></td>
                            <td><a href="#">{{ data.loan_id }}</a></td>
                            <td><a href="#">{{ data.loanapp_id.application_id }}</a></td>
                            <td>{{ data.loan_amount }}</td>
                            <td>{{ data.approved_amount}}</td>
                            <td>{{data.tenure}} {{data.tenure_type}}</td>
                            <td>{{data.loanapp_id.disbursement_type}}</td>
                            <td>
                              {% if data.loanapp_id.loantype.disbursement_beneficiary == 'pay_milestone' %}
                              <a href="{% url 'milestone_disbursement' data.id %}"><span data-toggle="tooltip" title="View" style="color: black;"> <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-eye"></i>
                              </button></a>
                              {% else %}
                              <a href="{% url 'disbursement' data.id %}"><span data-toggle="tooltip" title="View" style="color: black;"> <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-eye"></i>
                              </button></a>
                              {% endif  %}
                            </td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>

             </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}

 