{% extends 'base.html' %}

{% block body_block %}
<body>

    <style>
        /* Style to set the canvas size */
        #loanChart {
            width: 150px;  /* Display width */
            height: 100px; /* Display height */
        }
    </style>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Loan Calculator</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Loan Calculator Form</h5>

              <!-- Vertical Form -->
              <form method="post" class="row g-3" id="loan-calculator-form">
                {% csrf_token %}
                {% for data in form %}
                <div class="col-6">
                    {{data.label_tag}}
                    {% if data.field.required %}<span style="color: red;">*</span>{% endif %}
                    {{ data }}
                </div>
                {% endfor %}
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Vertical Form -->

            </div>
          </div>

          {% if records %}
          <!-- Loan Payment Details and Pie Chart -->
          <div class="container mt-5" id="resultCard">
              <div class="card">
                  <div class="row">
                      <!-- Pie Chart Section -->
                      <div class="col-md-6 mb-3">
                        <canvas id="loanChart" width="100" height="150" ></canvas>
                      </div>
      
                      <!-- Payment Details Section -->
                      <div class="col-md-6">
                          <div class="card-body">
                              <h5 class="card-title">Loan Payment Details</h5>
                              <ul class="list-group">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Total Payments
                                      <span id="totalAmount">${{total_payments|floatformat:2 }}</span>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Total Interest
                                      <span id="totalInterest">${{total_interest|floatformat:2 }}</span>
                                  </li>
                              </ul>
                              <!-- View Table Button -->
                              <div class="d-flex justify-content-end">
                                  <button class="btn btn-warning mt-3" id="viewTableBtn" style="display: none;" onclick="showTable()">View Table</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Table Card Container (Hidden by default) -->
          <div class="card mt-3" id="dataTable">
              <div class="card-header">
                  <h5 class="card-title">Loan Calculation Table</h5>
              </div>
              <div class="card-body table-responsive">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Period</th>
                              <th>Opening Balance</th>
                              <th>Principal</th>
                              <th>Interest</th>
                              <th>Installment</th>
                              <th>Closing Balance</th>
                              <th>Due Date</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for data in records %}
                          <tr>
                              <td>{{data.Period}}</td>
                              <td>{{data.Opening_Balance}}</td>
                              <td>{{data.Principal}}</td>
                              <td>{{data.Interest}}</td>
                              <td>{{data.Installment}}</td>
                              <td>{{data.Closing_Balance}}</td>
                              <td>{{data.Due_Date}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          {% endif %}

        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const loanTypeSelect = document.getElementById('id_loantype_id');
        let minLoanAmount = 0;
        let maxLoanAmount = 0;

        // Adding the event listener to detect change in loan type selection
        loanTypeSelect.addEventListener('change', function (event) {
            const loanTypeId = event.target.value;
            if (loanTypeId) {
                // Make AJAX request to the Django backend to fetch loan details
                fetch(`/get_loan_type_details/${loanTypeId}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            // Dynamically update the fields with the response data
                            document.getElementById('id_interest_rate').value = data.interest_rate;
                            document.getElementById('id_loan_calculation_method').value = data.loan_calculation_method;

                            // Set the loan amount validation range
                            minLoanAmount = data.min_loan_amt || 0;
                            maxLoanAmount = data.max_loan_amt || 0;
                        } else {
                            console.error('Error:', data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        });

        // Validate loan amount when the user submits the form
        const form = document.getElementById('loan-calculator-form');
        form.addEventListener('submit', function (event) {
            const loanAmountInput = document.getElementById('id_loan_amount');
            const loanAmount = parseFloat(loanAmountInput.value);

            if (isNaN(loanAmount) || loanAmount < minLoanAmount || loanAmount > maxLoanAmount) {
                event.preventDefault();  // Prevent form submission
                alert(`Loan amount must be between ${minLoanAmount} and ${maxLoanAmount}`);
            }
        });
    });
  </script>

  {% block script_block %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          const ctx = document.getElementById('loanChart').getContext('2d');
          total_payment = {{total_payments|floatformat:2 }};
          total_interest = {{total_interest|floatformat:2 }};
          new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: ['Total Amount', 'Total Interest'],
                  datasets: [{
                      data: [total_payment, total_interest], // Adjust these values accordingly
                      backgroundColor: ['#007bff', '#ffc107'],
                  }]
              }
          });
      });
  </script>
  {% endblock %}

{% endblock %}
