
{% extends 'base.html' %}
{% block body_block %}
<body>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Customer</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Customer Form</h5>
              {% if messages %}
            
              <div id="message-container">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
              </div>
              {% endif %}

              <!-- Vertical Form -->
              <form method="post" class="row g-3">
                {% csrf_token %}
                
                {% for data in form %}
                <div class="col-12">
                  <label for="{{ data.id_for_label }}">
                    {{ data.label }}
                    {% if data.field.required %}<span style="color: red;">*</span>{% endif %}
                </label>
                    {{ data }}
                    

                </div>
                {% endfor %}

                
                <label for="id_category_name" class="form-label">Category Name</label>
                <select name="category_name" class="form-control" id="id_category_name">
                  <option value="" selected>Choose a Category Name</option>
                  {% for data in category %}
                    <option value="{{data.code}}" selected>{{data.category_name}}</option>
                  {% endfor %}
                </select>

                <label for="id_category_type" class="form-label">Category Type</label>
                <select name="category_type" class="form-control" id="id_category_type">
                  <option value="" selected>Choose a Category Type</option>
                  {% for data in categorytypes %}
                    <option value="{{data.type_code}}" selected>{{data.type_name}}</option>
                  {% endfor %}
                </select>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <!-- <a href="{% url 'customer_view' %}" type="reset" class="btn btn-primary">View</a> -->
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}
