{% extends 'base.html' %}

{% block body_block %}
<body>
<style>
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling for mobile */
}
.table th, .table td {
    white-space: nowrap;
}

</style>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Customer Document List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Customer Document List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
        
                <!-- Add a wrapper with overflow control -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr style="white-space: nowrap;"> 
                              <th scope="col">Is Active</th>
                                <th scope="col">Customer id</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">email</th>
                                <th scope="col">phone number</th>
                                <th scope="col">address</th>
                                <th scope="col">dateofbirth</th>
                                <th scope="col">customer income</th>
                
                                
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in records %}
                                <tr style="white-space: nowrap;">
                                  <td>{% if data.is_active == True %}<span class="badge bg-success"><i class="bi bi-check-circle me-1"></i> </span>{% else %}<span class="badge bg-danger"><i class="bi bi-exclamation-octagon me-1"></i> </span>{% endif %}</td>
                                    <td>{{data.customer_id}}</td>
                                    <td>{{data.firstname}}</td>
                                    <td>{{data.lastname}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.phone_number}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.dateofbirth}}</td>
                                    <td>{{data.customer_income}}</td>
                                    <td>
                                      <a href="{% url 'customer_document_view' data.id %}"><span data-toggle="tooltip" title="View Document" style="color: black;"> <button class="btn btn-info btn-sm" type="button"><i class="fa fa-eye"></i>
                                      </button></a>
                                    
                
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}

 