{% extends 'base.html' %}
{% block body_block %}
<body>
  <main id="main" class="main">

    <!-- Page Title -->
    <div class="pagetitle">
      <h1>User Edit</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Settings</li>
          <li class="breadcrumb-item active">User Edit</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit User</h5>

              <!-- Vertical Form -->
              <form method="post" class="row g-3">
                {% csrf_token %}

                <!-- First Name -->
                <div class="col-12">
                  {{ form.first_name.label_tag }}
                  {{ form.first_name }}
                  <span class="text-danger">{{ form.first_name.errors }}</span>
                </div>

                <!-- Last Name -->
                <div class="col-12">
                  {{ form.last_name.label_tag }}
                  {{ form.last_name }}
                  <span class="text-danger">{{ form.last_name.errors }}</span>
                </div>

                <!-- Email -->
                <div class="col-12">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  <span class="text-danger">{{ form.email.errors }}</span>
                </div>

                <!-- Phone Number -->
                <div class="col-12">
                  {{ form.phone_number.label_tag }}
                  {{ form.phone_number }}
                  <span class="text-danger">{{ form.phone_number.errors }}</span>
                </div>

                <!-- User Profile -->
                <div class="col-12">
                  <label for="roles">Role</label>
                  <select name="user_profile" id="roles" class="form-control">
                    <option value="">Select</option>
                    {% for data in userprofile %}
                        <option value="{{ data.id }}" {% if data.id == record.user_profile %} selected {% endif %}>
                          {{ data.name }}
                        </option>
                      {% endfor %}
                  </select>
                </div>

            

                <!-- Submit and Reset Buttons -->
                <div class="text-center col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
</body>
{% endblock %}
