<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - LMS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Include Select2 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling for mobile */
  }
  .table th, .table td {
      white-space: nowrap;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  /* form label {
        font-weight: bold;
    } */
  </style>

  {% block head_block %}
  {% endblock  %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.jpg' %}" alt="">
        <span class="d-none d-lg-block"><img src="{% static 'assets/img/pesa_nile_logohd.jpeg'%}" style="height: 100px; width: 150px" ></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-2.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-3.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'change_password' %}">
                <i class="bi bi-lock"></i>
                <span>Change Password</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  {% block body_block %}
  {% endblock %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">
      {% comment %} {% if 'user_registration' in permission_user %} {% endcomment %}
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% comment %} {% endif %} {% endcomment %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-building"></i><span>Company</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'company' %}">
              <i class="bi bi-building"></i><span>Company</span>
            </a>
          </li>
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#customer-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-lines-fill"></i><span>Customer Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="customer-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'customer' %}">
              <i class="bi bi-circle"></i><span>Customer</span>
            </a>
          </li>
          <li></li>
            <a href="{% url 'customer_view' %}">
              <i class="bi bi-circle"></i><span>Customer Details</span>
            </a>
          </li>
          <li>
            <a href="{% url 'customer_list' %}">
              <i class="bi bi-circle"></i><span>Customer Document Upload</span>
            </a>
          </li>
          
          
        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#application-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-text"></i><span>Loan Application</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="application-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'loanapplication' %}">
              <i class="bi bi-circle"></i><span>Loan Application</span>
            </a>
           
          </li>
          <li>
            <a href="{% url 'loanapplication_view' %}">
              <i class="bi bi-circle"></i><span>Application Details</span>
            </a>
          </li>
          <li>
              <a href="{% url 'view_loanapplications' %}">
                <i class="bi bi-circle"></i><span>Application Status Tracking</span>
              </a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-folder"></i><span>DMS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'matter_workspace' %}">
              <i class="bi bi-circle"></i><span>DMS</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- collateral Management -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#collateral-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-shield-lock"></i><span>Collateral Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="collateral-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'show_loandetails' %}">
              <i class="bi bi-circle"></i><span>Collateral</span>
            </a>
           
          </li>
          <li>
            <a href="{% url 'collaterals_view' %}">
              <i class="bi bi-circle"></i><span>Collateral Details</span>
            </a>
          </li>
          <!-- <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Collateral Valuation</span>
            </a>
          </li> -->
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#approval-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-check-circle"></i><span>Loan Approval</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="approval-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <!-- <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Application Review</span>
            </a>
          </li> -->
          <li>

            <a href="{% url 'show_active_applications' %}">
              <i class="bi bi-circle"></i><span>Loan Eligibility Check</span>
            </a>
          </li>
          <li>
            <a href="{% url 'assessmentlist' %}">
              <i class="bi bi-circle"></i><span>Loan Risk Assessment</span>
            </a>
          </li>
          <li>
            <a href="{% url 'document_varification' %}">
              <i class="bi bi-circle"></i><span>Document Verification</span>
            </a>
          </li>
          <li>
            <a href="{% url 'loanapprovalview' %}">
              <i class="bi bi-circle"></i><span>Approve/Reject Loan</span>
            </a>
          </li>
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#agreement-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-check"></i><span>Loan Agreement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="agreement-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'listapprovedapplications' %}">
              <i class="bi bi-circle"></i><span>Generate Agreement</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_agreement' %}">
              <i class="bi bi-circle"></i><span>Agreement Review</span>
            </a>
          </li>
       
 
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#valuechain-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-diagram-3"></i><span>Value Chain Set-Ups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="valuechain-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'valuechain_setups' %}">
              <i class="bi bi-circle"></i><span>Valuechain Set-ups</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_agreement' %}">
              <i class="bi bi-circle"></i><span>Agreement Review</span>
            </a>
          </li>
       
 
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#milestone-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-flag"></i><span>MileStone Set-ups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="milestone-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'listapprovedapplications' %}">
              <i class="bi bi-circle"></i><span>Generate Agreement</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_agreement' %}">
              <i class="bi bi-circle"></i><span>Agreement Review</span>
            </a>
          </li>
       
 
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#disbursement-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cash"></i><span>Disbursement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="disbursement-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <!-- <li>
            <a href="{% url 'disbursementrequest' %}">
              <i class="bi bi-circle"></i><span>Disbursement Request</span>
            </a>
          </li> -->
          <li>
            <a href="{% url 'disply_loans' %}">
              <i class="bi bi-circle"></i><span>Disbursement</span>
            </a>
          </li>
          <li>
            <a href="{% url 'disbursement_details' %}">
              <i class="bi bi-circle"></i><span>Disbursement Summary</span>
            </a>
          </li>
          
        </ul>
      </li>
     
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Repayment-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-calendar-check"></i><span>Repayment Schedule</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="Repayment-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'disbursed_loans' %}">
                  <i class="bi bi-circle"></i><span>Repayment Schedule List</span>
                </a>
               
              </li>
              <li>
                <a href="{% url 'disbursedloans_foroverview' %}">
                  <i class="bi bi-circle"></i><span>Schedule Overview</span>
                </a>
              </li>
             
          
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Payment-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-wallet"></i><span>Payment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Payment-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Payment Entry</span>
            </a>
           
          </li>
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Payment History</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Payment Summary</span>
            </a>
          </li>
      
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#Penalty-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-exclamation-circle"></i><span>Penalties</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="Penalty-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="">
          <i class="bi bi-circle"></i><span>Penalty</span>
        </a>
       
      </li>
      <li>
        <a href="">
          <i class="bi bi-circle"></i><span>Penalty Overview</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-circle"></i><span>Penalty Details</span>
        </a>
      </li>
  
</ul>
</li>
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#calculator-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-calculator"></i><span>Loan Calculator</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="calculator-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="{% url 'loancalculators' %}">
        <i class="bi bi-circle"></i><span>Instantaneous Loan Calculator </span>
      </a>
     
    </li>
    <!-- <li>
      <a href="">
        <i class="bi bi-circle"></i><span>Calculate Loan Repayment Schedule</span>
      </a>
    </li> -->
  </ul>
</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'identificationtype' %}">
            <i class="bi bi-circle"></i><span>Customer Identifications</span>
          </a>
        </li>
        <li>
          <a href="{% url 'bankaccount' %}">
            <i class="bi bi-circle"></i><span>Bank Account</span>
          </a>
        </li>
        <li>
          <a href="{% url 'currency' %}">
            <i class="bi bi-circle"></i><span>Currency</span>
          </a>
        </li>
        <li>
          <a href="{% url 'paymentmethod' %}">
            <i class="bi bi-circle"></i><span>Payment Method</span>
          </a>
        </li>
        <li>
          <a href="{% url 'loantype' %}">
            <i class="bi bi-circle"></i><span>Loan Type</span>
          </a>
        </li>
        <li>
          <a href="{% url 'collateraltype' %}">
            <i class="bi bi-circle"></i><span>Collateral Type</span>
          </a>
        </li>
        <!-- <li>
          <a href="">
             <i class="bi bi-circle"></i><span>Tax</span> 
          </a>
        </li>
        
      
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Interest Rate</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Rate Type</span> 
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Set Default Interest Rate</span> 
          </a>
        </li> -->
        <!-- <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Repayment Mode</span> 
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Penalty</span> 
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Notification</span> 
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Audit Log</span> 
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>System Backup & Restore</span> 
          </a>
        </li> -->

    </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Reports-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'repayment' %}">
            <i class="bi bi-circle"></i><span>Re - Payment</span>
          </a>
        </li> 
         <li>
          <a href="{% url 'application_status_vice_report' %}">
            <i class="bi bi-circle"></i><span>Appilication Status Vice Report</span>
          </a>
        </li> 
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Financial Reports</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Loan Performance Report</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Overdue Loans Report</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-circle"></i><span>Penalties Report</span>
          </a>
        </li>

    </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#ui-basic" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="ui-basic" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'roles' %}">
            <i class="bi bi-circle"></i><span>User roles</span>
          </a>
        </li>
        <li>
          <a href="{% url 'userprofile_list' %}">
            <i class="bi bi-circle"></i><span>User Profile</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user_list' %}">
            <i class="bi bi-circle"></i><span>User</span>
          </a>
        </li>
    </ul>
    </li>
 



    </ul>
 
  </aside><!-- End Sidebar-->
  
  {% block script_block %}
  {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %} "></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    $(document).ready(function() {
        $('.select').select2(); // Apply Select2 to all fields with the 'form-control' class
    });
    </script>
    
 
</body>

</html>









































