{% extends 'base.html' %}
{% block body_block %}
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Approved Application List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Approved Application List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="table-responsive">
              <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Application ID</th> -->
                        <th scope="col">Cumpany</th>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Tenure</th>
                        <th scope="col">Loan Amount</th>
                        <th scope="col">Disbursement Amount</th>
                        
                        <th scope="col" >Paid Amount</th>
                        <th scope="col" >Action</th>
                      </tr>
                </thead>
                <tbody>
                    {% for data in records %}
                        <tr>
                            <th scope="row">{{ forloop.counter}}</th>
                            <!-- <td>{{ data.application_id }}</td> -->
                            <td>{{ data.company.name }}</td>
                            <td>{{ data.customer.customer_id }}</td>
                            <td>{{ data.tenure }} {{data.tenure_type}}</td>
                            <td>{{ data.loan_amount}}</td>
                            <td>{{ data.disbursement_amount}}</td>
                            <td>{{ data.paid_amount}}</td>
                       
                            

                            <td>
                            <!-- <a href="{% url 'loanapplication_edit' data.id %}"><span data-toggle="tooltip" title="edit" style="color: black;"><i class='fa fa-edit'></i></a>
                                <a href="{% url 'loanapplication_delete' data.id %}"><span data-toggle="tooltip" title="Delete" style="color: black;"><i class='fa fa-remove' onclick="alert('You want to Delete this Item..?')"></i></a> -->
                                  <a href="{% url 'account_list' data.loan_id %}"><span data-toggle="tooltip" title="View" style="color: black;"> <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-eye"></i>
                                  </button></a> 
                            </td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}

 