{% extends 'base.html' %}

{% block body_block %}
<style>
   

    .total-risk-section {
        text-align: center;
    }
    
    .risk-score {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .progress-bar {
        width: 80%;
        height: 20px;
        background-color: #ddd;
        border-radius: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    
    .progress {
        height: 100%;
        background-color: #4caf50;
        border-radius: 10px;
    }
    
    
    </style>
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Loan Risk Assessment List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Details</li>
          <li class="breadcrumb-item active">Loan Risk Assessment List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
            <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Customer Details</h5>
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                        <th >Name</th><td> {{records.customer_id.firstname}}</td>
                        </tr>
                        <tr>
                            <th>Age</th><td>{{records.customer_id.age}}</td>
                        </tr>
                        <tr>
                            <th>Credit score</th><td>{{records.customer_id.credit_score}}</td>
                        </tr>
                        <tr>
                            <th>Income</th><td>${{records.customer_id.customer_income}}</td>
                        </tr>
                        <tr>
                            <th>Existing Liabilities</th><td>${{records.customer_id.existing_liabilities}}</td>
                        </tr>
                        
                    </table>
                    </div>
                    
      
                  </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Loan Application Details</h5>
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                        <th >Loan Amount</th><td>${{records.loan_amount}}</td>
                        </tr>
                        <tr>
                            <th>Loan Type</th><td>{{records.loantype.loantype}}</td>
                        </tr>
                        <tr>
                            <th>Tenure</th><td>{{records.tenure}} {{records.tenuretype}}</td>
                        </tr>
                        <tr>
                            <th>Disbursement Type</th><td>{{records.disbursement_type}}</td>
                        </tr>
                        <tr>
                            <th>Repayment Schedule</th><td>{{records.repayment_schedule}}</td>
                        </tr>
                        
                    </table>
                    </div>
                    
        
                    </div>
                </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Risk Factors</h5>
                <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Credit Score Risk</th>
                        <td>Low</td>
                    </tr>
                    <tr>
                        <th>Liabilities Risk</th>
                        <td>Moderate</td>
                    </tr>
                    <tr>
                        <th>Income to Loan Risk</th>
                        <td>High</td>
                    </tr>
             
                    
                </table>
                </div>
                
    
                </div>
            </div>
            </div>
            <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Total Risk Score</h5>
            <div class="risk-score">
                <div class="progress-bar">
                    <div class="progress" style="width: {{records.risk_score|floatformat:2}}%;"></div>
                </div>
                <span>{{records.risk_score|floatformat:2}}% - Moderate Risk</span>
            </div>
            
            </div>
        </div>
            </div>

        </div>
  
    </section>

  </main><!-- End #main -->
  {% endblock %}

 