{% extends 'base.html' %}

{% block body_block %}
<body>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Collateral</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Collateral</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
    
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Loan ID:  {{loanapplication_records.application_id}}</h5>
              <div class="col-md-12">
                        <h5 class="card-title">Add Collateral Details </h5>
                        <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                   
                          <div class="table-responsive">
                            <table class="table table-bordered" id="table_Collaterals">
                                <thead class="thead-light">
                                    <tr>
                                      {% for field in forms%}
                                        <th class="text-center p-3">{{ field.label }}</th> <!-- Field Labels -->
                                        {% endfor %}
                                        <th class="text-center p-3">Action</th> <!-- Action column -->
                                    </tr>
                                </thead>

                                <tbody id = "collateral_tbody">
                         
                                    <tr id="row_{{ forloop.counter }}">
                                    
                                        <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                            <div class="form-group">
                                              <select name="collateral_type" id="collateral_type" class="form-control">
                                                {% for type in collateral_type %}
                                                  <option value="{{type.id}}">{{type.name}}</option>
                                                  {% endfor %}
                                              </select>
                                            </div>
                                        </td>
                                        <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                          <div class="form-group">
                                            <input type="number" name="collateral_value" class="form-control" >
                                          </div>
                                      </td>
                                      <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                        <div class="form-group">
                                          <input type="date" name="value_date" class="form-control" >
                                        </div>
                                    </td>
                                    <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                      <div class="form-group">
                                        <select name="collateral_status" id="collateral_status" class="form-control">
                                         
                                            <option value="Held">Held</option>
                                            <option value="Released">Released</option>
                                            <option value="Sold">Sold</option>
                                         
                                        </select>
                                      </div>
                                  </td>
                                    <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                      <div class="form-group">
                                        <select name="insurance_status" id="insurance_status" class="form-control">
                                            <option value="Insured">Insured</option>
                                            <option value="Not insured">Not insured</option>
                                            
                                        </select>
                                      </div>
                                  </td>
                                  <td class="align-middle p-3"> <!-- Align values in the middle and add padding -->
                                    <div class="form-group">
                                      <textarea name="description" id="description" class="form-control" style="height: 70px;  width: 400px;"></textarea>
                                    </div>
                                </td>
                                        
                                        <td class="align-middle text-center"> <!-- Center align action buttons -->
                                            <button class="btn btn-success" type="submit">+</button>
                                 
                                    </tr>
                                 
                                </tbody>
                            </table>
                     
                        </div>
                      </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="col-md-12">
                  <h5 class="card-title">Collateral Details </h5>
                  <div class="table-responsive">
                    <table class="table datatable">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <!-- <th scope="col">Application ID</th> -->
                              <th scope="col">Collateral Type</th>
                              <th scope="col">Collateral Value</th>
                              <th scope="col">Valuation Date</th>
                              <th scope="col">Collateral Status</th>
                              <th scope="col">Insurance Status</th>
                              <th scope="col" >Description</th>
                              <th scope="col" >Action</th>
                            </tr>
                      </thead>
                      <tbody>
                          {% for data in collateral_data %}
                              <tr>
                                  <th scope="row">{{ forloop.counter}}</th>
                                  <!-- <td>{{ data.application_id }}</td> -->
                                  <td>{{ data.collateral_type.name }}</td>
                                  <td>{{ data.collateral_value }}</td>
                                  <td>{{ data.valuation_date }}</td>
                                  <td>{{ data.collateral_status}}</td>
                                  <td>{{ data.insurance_status}}</td>
                                  <td>{{ data.description}}</td>
                             
                                  
      
                                  <td>
                                  <a href="{% url 'create_collateraldocument' data.id %}"><button class="btn btn-success" type="submit">+</button></a>
                                  </td>
                              </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>

               
              <!-- <div class="col-md-12">
               
                <h5 class="card-title">Attach Collateral Documents</h5>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
           
                  <button type="submit" name="attachment_btn" value="attachment_btn" class="btn btn-outline-success btn-sm">Submit</button>
                    <table class="table table-bordered" id="table_attachment">
                        <thead class="thead-light">
                            <tr>
              
                                <th class="text-center p-3">Document Name</th>
                                <th>Upload</th>
                                <th>Description</th>
                                <th class="text-center p-3">Action</th> 
                            </tr>
                        </thead>

                        <tbody id = "attachment_tbody">
                 
                            <tr id="row_{{ forloop.counter }}">
                            
                              
                                <td class="align-middle p-3">
                                  <div class="form-group">
                                    <input type="text" name="document_name" id="id_document_name" class="form-control" >
                                  </div>
                              </td>
                              <td class="align-middle p-3"> 
                                <div class="form-group">
                                  <input type="file" name="uploaded_file" id="id_uploaded_file" class="form-control">

                                </div>
                            </td>
                            
                          <td class="align-middle p-3"> 
                            <div class="form-group">
                              <textarea name="description1" id="id_description1" class="form-control" style="height: 70px;  width: 400px;"></textarea>
                            </div>
                        </td>
                                
                                <td class="align-middle text-center"> 
                                    <button class="btn btn-success" type="button" onclick="AttachmentcloneRow('table_attachment', 'attachment_tbody')">+</button>
                                    <button class="btn btn-danger" type="button" onclick="AttachmentremoveRow(this)">-</button></td>
                            </tr>
                         
                        </tbody>
                    </table>
             
                </div>
              </form> -->
      
          </div>

        </div>
      </div>
    </section>
    
  
  </main><!-- End #main -->
  
  {% endblock %}

 